
<body>
<h2>Band Information</h2>
<table>
    <tr>
        <td>Name :</td>
        <td th:text="${band.name}"></td>
    </tr>
    <tr>
        <td>ID :</td>
        <td th:text="${band.bandId}"></td>
    </tr>
    <tr>
        <td>Number of Members:</td>
        <td th:text="${band.numberOfMembers}"></td>
    </tr>
    <tr>
        <td>Music Genre:</td>
        <td th:text="${band.musicGenre}"></td>
    </tr>
</table>

<button><a th:href="'/bands/'+${band.bandId} +'/update'"> update </a></button>
</body>